.vscode
.vscode/**
.vscode/*
env
env/**
env/*
*.pyc
*.ini
*.log
*.service
*.pid
*.sqlite3
log
companyinfo/__pycache__/*
contacts/__pycache__/*
generic/__pycache__/*
goods/__pycache__/*
main/__pycache__/*
news/__pycache__/*
search/__pycache__/*
services/__pycache__/*
db.sqlite3
