{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8"/>
	    <meta name="viewport" content="width=device-width"/>
        <meta http-equiv="X-UA-Compatible" content="IE=9"/>
        <meta http-equiv="Pragma" content="no-cache"/>
        <link href="{% static "css/login.css"%}" rel ="stylesheet"/>
    </head>
    <body>
        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
        {% if next %}
            {% if not user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
            {% else %}
                <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}
        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
            <table>
                <tr>
                    <td colspan="2">
                        <img src="{% static "images/logo_with_company_name_transparent.png" %}" alt="logo"/>
                    </td>
                </tr>
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="login">
                    </td>
                    <td>
                        <input type="hidden" name="next" value="{{ next }}">
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>
